* {
	box-sizing: border-box;
}

body, h1, h2, p {
	margin: 0;
}

h1 {
	font-family: 'PT Serif', serif;
	color: #F8EEE4;
	opacity: 0.4;
	font-style: normal;
	font-weight: bold;	
}

h2 {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: bold;
	color: #F8EEE4;	
}

a {
	font-family: 'Museo Sans Cyrl';
	color: #F8EEE4;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	color: grey; 
}

p {
	font-family: 'Museo Sans Cyrl';
	color: #F8EEE4;
}

.heading {
	position: fixed;
	width: 100%;
	display: flex;
	top: 0;
	left: 0;
	height: 150px;
	align-items: center;
	justify-content: space-between;
}

.heading__logo {
	padding-top: 5px;
}

.heading__nav li {
	display: inline;
	margin-right: 17px;
}
.heading__item {
	list-style-type: none;
	padding-right: 5px;
}
.content {
	display: flex;
	justify-content: space-between;
	min-height: 100vh;
	padding-left: 143px;
	padding-top: 160px;
}
.content__img1 {
	margin-right: 24px;
	width: 225px;
	height: 300px;
}
.content__img2 {
	margin-right: 24px;
	width: 202px;
	height: 270px;
}
.content__img3 {
	width: 202px;
	height: 270px;
}



@media only screen and (min-width: 1367px) {
	.main {
		background: url(img/1336.png);
		background-size: cover;
		background-attachment: fixed;
	}
	a {
		font-size: 22px;
		line-height: 26px;
	}
	.heading {
		padding-left: 202px;
		padding-top: 84px;
		padding-right: 84px;
	}
	.heading__logo {
		padding-top: 8px;
		width: 142px;
		height: 75px; 
	}
	.heading__nav li {
		margin-right: 28px;
	}
	.heading__burger {
		display: none;
	}
	.content {
    	padding-left: 199px;
    	padding-top: 243px;
	}
	.content__txt {
		width: 37%;
		padding-top: 37px;
	}
	.content__title {
		font-size: 280px;
		line-height: 371px;
	}
	.content__caption {
		margin-top: -143px;
		font-size: 98px;
		line-height: 130px;
		padding-left: 84px;
		margin-bottom: 18px;
	}
	.content__text {
		width: 558px;
		font-size: 22px;
		line-height: 26px;
		padding-left: 22px;
		margin-bottom: 54px;
	}
	.content__btn {
		padding: 20px 90px 20px 90px;
		background: #D4BEA3;
		border-radius: 48px;
		margin-left: 20px; 
	}
	
	.content__img1 {
		width: 317px;
		height: 421px;
		margin-right: 33px;
	}
	.content__img2 {
		width: 284px;
		height: 379px;
		margin-right: 33px;
	}
	.content__img3 {
		width: 284px;
		height: 379px;
	}
	.content__img {
		height: auto;
		padding-bottom: 120px;
		display: flex;
		align-items: center;
  		justify-content: space-between;
		width: 51%;
		overflow: hidden;
	}
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
	.main {
		background: url(img/1336.png);
		background-size: cover;
		background-attachment: fixed;
	}
	.heading {
		padding-left: 143px;
		padding-top: 17px;
		padding-right: 61px; 
	}
	
	.heading__burger {
		display: none;
	}
	.content__txt {
		width: 34%;
		padding-top: 37px;
	}
	.content__title {
		font-size: 200px;
		line-height: 265px;
	}
	.content__caption {
		font-size: 70px;
		line-height: 93px;
		padding-left: 60px;
		margin-bottom: 12px;
		margin-top: -101px;
	}
	.content__text {
		font-size: 16px;
		line-height: 19px;
		padding-left: 15px;
		margin-bottom: 24px;
	}
	.content__btn {
		display: flex;
		width: 207px;
		height: 42px;
		align-items: center;
  		justify-content: center;
		background: #D4BEA3;
		border-radius: 48px;
		margin-left: 18px; 
	}
	.content__img {
		height: auto;
		display: flex;
		align-items: center;
  		justify-content: space-between;
		width: 51%;
		overflow: hidden;
		padding-bottom: 70px;
	}
	.content__img3 {
		width: 180px;
		height: 270px;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.main {
		background: url(img/1020.png);
		background-size: cover;
		background-attachment: fixed;
	}
	.heading {
		padding-left: 40px;
		padding-top: 16px;
		padding-right: 19px;
	}
	.heading__logo {
    	padding-top: 2px;
	}
	.heading__burger {
		display: none;
	}
	.content {
		padding-left: 40px;
		padding-top: 160px;
	}
	.content__txt {
		width: 41%;
		padding-top: 37px;
	}
	
	.content__title {
		font-size: 200px;
		line-height: 265px;
	}
	.content__caption {
		padding-left: 60px;
		margin-top: -102px;
		font-size: 70px;
		line-height: 93px;
		margin-bottom: 14px;
	}
	.content__text {
		padding-left: 15px;
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 26px;
	}
	
	.content__btn {
		margin-left: 19px;
		display: flex;
		width: 207px;
		height: 42px;
		align-items: center;
  		justify-content: center;
		background: #D4BEA3;
		border-radius: 48px; 
	}
	.content__img {
		padding-left: 59px;
		height: auto;
		display: flex;
		align-items: center;
  		justify-content: space-between;
		width: 58%;
		overflow: hidden;
		padding-bottom: 67px;
	}
	
}
@media only screen and (min-width: 375px) and (max-width: 767px) {
	.main {
		background: url(img/mobil.png);
		background-size: cover;
		background-attachment: fixed;
	}
	.heading {
		height: 133px;
		padding-left: 37px;
		padding-top: 5px;
		padding-right: 42px;
	}
	.heading__item {
		color: black;
		font-size: 30px;
		line-height: 36px;
	}
	.heading__nav {
		display: none;
		width: 100%;
		height: 100%;
		background-color: white;
		justify-content: center;
		align-items: center;
	}
	.heading__items li {
		visibility: hidden;
		display: block;
		margin-bottom: 24px;
	}
	.heading__icon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 30px;
		width: 30px;
		cursor: pointer;
	}
	.heading__burger {
		width: 30px;
		height: 4px;
		background-color: #F8EEE4;
		position: relative;
	}
	.heading__burger::before {
		content: '';
		display: block;
		width: 30px;
		height: 4px;
		background-color: #F8EEE4;
		position: absolute;
		left:0;
		top: -10px;
	}
	.heading__burger::after {
		content: '';
		display: block;
		width: 30px;
		height: 4px;
		background-color: #F8EEE4;
		position: absolute;
		left:0;
		top: 10px;
	}
	/*.heading__burger.heading__burger_active {
	background-color: transparent;
	}
	.heading__burger.heading__burger_active::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}
	.heading__burger.heading__burger_active::after {
	transform: rotate( -45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
	}*/
	.content {
		padding-top: 135px;
		padding-left: 19px;
	}
	.content__txt {
		margin-right: 19px;
	}
	.content__title {
		font-size: 170px;
		line-height: 225px;
	}
	.content__caption {
		margin-top: -76px;
		font-size: 60px;
		padding-left: 54px;
		line-height: 79px;
		margin-bottom: 42px;
	}
	.content__text {
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		margin-left: 18px;
		margin-bottom: 40px;
		max-width: 297px;
	}
	.content__img {
		display: none;
	}
	.content__btn {
		margin-left: 68px;
		display: flex;
		width: 207px;
		height: 42px;
		align-items: center;
  		justify-content: center;
		background: #D4BEA3;
		border-radius: 48px; 
	}
	
}

